<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="TestSmells"
            visible="true"
            id="gr.uom.java.jdeodorant.BadSmells">
         <menu
               label="Test Smells"
               id="BadSmellsMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="gr.uom.java.raide.refactoring.actions.BadSmellsMenu"
               icon="icons/ladybird.png"
               id="gr.uom.java.jdeodorant.actions.DuplicateAssert"
               label="Duplicate Assert"
               menubarPath="BadSmellsMenu/sampleGroup"
               style="push"
               tooltip="Duplicate Assert">
         </action>
         <action
               class="gr.uom.java.raide.refactoring.actions.BadSmellsMenu"
               icon="icons/ladybird.png"
               id="gr.uom.java.jdeodorant.actions.AssertionRoulette"
               label="Assertion Roulette"
               menubarPath="BadSmellsMenu/sampleGroup"
               tooltip="Assertion Roulette">
         </action>
         
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Bad Smells"
            id="gr.uom.java.jdeodorant">
      </category>
      <view
            category="gr.uom.java.jdeodorant"
            class="gr.uom.java.raide.refactoring.views.AssertionRouletteView"
            icon="icons/ladybird.png"
            id="gr.uom.java.jdeodorant.views.AssertionRoulette"
            name="Assertion Roulette">
      </view>
      <view
            category="gr.uom.java.jdeodorant"
            class="gr.uom.java.raide.refactoring.views.DuplicateAssertView"
            icon="icons/ladybird.png"
            id="gr.uom.java.jdeodorant.views.DuplicateAssert"
            name="Duplicate Assert">
      </view>
      <view
            category="gr.uom.java.jdeodorant"
            class="gr.uom.java.raide.refactoring.views.CodeSmellPackageExplorer"
            icon="icons/repair.png"
            id="gr.uom.java.jdeodorant.views.CodeSmellPackageExplorer"
            name="Code Smell Package Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="gr.uom.java.jdeodorant.views.FeatureEnvy">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="gr.uom.java.jdeodorant.views.TypeChecking"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="gr.uom.java.jdeodorant.views.LongMethod"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="gr.uom.java.jdeodorant.views.GodClass"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="gr.uom.java.jdeodorant.views.DuplicatedCode"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="gr.uom.java.raide.preferences.PropertyManagerPreferencePage"
            id="gr.uom.java.jdeodorant.preferences.PropertyManagerPreferencePage"
            name="JDeodorant">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="gr.uom.java.raide.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="gr.uom.java.jdeodorant.extractionAnnotation"
            colorPreferenceKey="extractionAnnotation_color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="extractionAnnotation_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="extractionAnnotation_nextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="extractionAnnotation_previousNavigationTarget"
            label="Extracted Code"
            overviewRulerPreferenceKey="extractionAnnotation_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="extractionAnnotation_nextPrevDropdownToolbar"
            textPreferenceKey="extractionAnnotation_text"
            textPreferenceValue="true"
            textStylePreferenceKey="extractionAnnotation_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="extractionAnnotation_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="gr.uom.java.jdeodorant.duplicationAnnotation"
            colorPreferenceKey="duplicationAnnotation_color"
            colorPreferenceValue="255,160,160"
            contributesToHeader="false"
            highlightPreferenceKey="duplicationAnnotation_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="duplicationAnnotation_nextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="duplicationAnnotation_previousNavigationTarget"
            label="Duplicated Code"
            overviewRulerPreferenceKey="duplicationAnnotation_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="duplicationAnnotation_nextPrevDropdownToolbar"
            textPreferenceKey="duplicationAnnotation_text"
            textPreferenceValue="true"
            textStylePreferenceKey="duplicationAnnotation_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="duplicationAnnotation_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="gr.uom.java.jdeodorant.sliceProfile"
            objectClass="org.eclipse.jdt.core.IMethod">
         <action
               class="gr.uom.java.raide.refactoring.views.SliceProfileAction"
               id="gr.uom.java.jdeodorant.sliceProfileAction"
               label="Slice-based Cohesion Metrics...">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="gr.uom.java.jdeodorant.cloneRefactoring"
            objectClass="org.eclipse.jdt.core.IMethod">
         <action
               class="gr.uom.java.raide.refactoring.views.CloneRefactoringAction"
               id="gr.uom.java.jdeodorant.cloneRefactoringAction"
               label="Refactor Duplicated Code...">
         </action>
      </objectContribution>
   </extension>
</plugin>
