<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
         point="org.eclipse.ui.actionSets">
		<actionSet
            label="TestSmells"
            visible="true"
            id="org.ufba.raide.TestSmells">
			<menu
               id="BadSmellsMenu"
               label="RAIDE">
         	</menu> 
         	
         	<action
			   class="org.ufba.raide.java.actions.TestSmellsMenu"
			   icon="icons/csv-file.png"
			   id="org.ufba.raide.java.actions.AllTestSmells"
			   label="All Test Smells"
			   menubarPath="BadSmellsMenu/sampleGroup"
			   tooltip="All Test Smells">
			</action>       	
         
			<action
			   class="org.ufba.raide.java.actions.TestSmellsMenu"
			   icon="icons/ladybird.png"
			   id="org.ufba.raide.java.actions.VerboseTest"
			   label="Verbose Test"
			   menubarPath="BadSmellsMenu/sampleGroup"
			   tooltip="Verbose Test">
			</action>
			<action
			   class="org.ufba.raide.java.actions.TestSmellsMenu"
			   icon="icons/ladybird.png"
			   id="org.ufba.raide.java.actions.UnknownTest"
			   label="Unknown Test"
			   menubarPath="BadSmellsMenu/sampleGroup"
			   tooltip="Unknown Test">
			</action>
			<action
			   class="org.ufba.raide.java.actions.TestSmellsMenu"
			   icon="icons/ladybird.png"
			   id="org.ufba.raide.java.actions.SleepyTest"
			   label="Sleepy Test"
			   menubarPath="BadSmellsMenu/sampleGroup"
			   tooltip="Sleepy Test">
			</action>
			<action
			   class="org.ufba.raide.java.actions.TestSmellsMenu"
			   icon="icons/ladybird.png"
			   id="org.ufba.raide.java.actions.SensitiveEquality"
			   label="Sensitive Equality"
			   menubarPath="BadSmellsMenu/sampleGroup"
			   tooltip="Sensitive Equality">
			</action>
			<action
			   class="org.ufba.raide.java.actions.TestSmellsMenu"
			   icon="icons/ladybird.png"
			   id="org.ufba.raide.java.actions.ResourceOptimism"
			   label="Resource Optimism"
			   menubarPath="BadSmellsMenu/sampleGroup"
			   tooltip="Resource Optimism">
			</action>
		 	<action
			   class="org.ufba.raide.java.actions.TestSmellsMenu"
			   icon="icons/ladybird.png"
			   id="org.ufba.raide.java.actions.RedundantAssertion"
			   label="Redundant Assertion"
			   menubarPath="BadSmellsMenu/sampleGroup"
			   tooltip="Redundant Assertion">
			 
			</action>         
			<action
			   class="org.ufba.raide.java.actions.TestSmellsMenu"
			   icon="icons/ladybird.png"
			   id="org.ufba.raide.java.actions.PrintStatement"
			   label="Print Statement"
			   menubarPath="BadSmellsMenu/sampleGroup"
			   tooltip="Print Statement">
			</action>
			   <action
			   class="org.ufba.raide.java.actions.TestSmellsMenu"
			   icon="icons/ladybird.png"
			   id="org.ufba.raide.java.actions.MysteryGuest"
			   label="Mystery Guest"
			   menubarPath="BadSmellsMenu/sampleGroup"
			   tooltip="Mystery Guest">
			</action>         
			<action
			   class="org.ufba.raide.java.actions.TestSmellsMenu"
			   icon="icons/ladybird.png"
			   id="org.ufba.raide.java.actions.MagicNumberTest"
			   label="Magic Number Test"
			   menubarPath="BadSmellsMenu/sampleGroup"
			   tooltip="Magic Number Test">
			</action>
         
         <action
               class="org.ufba.raide.java.actions.TestSmellsMenu"
               icon="icons/ladybird.png"
               id="org.ufba.raide.java.actions.LazyTest"
               label="Lazy Test"
               menubarPath="BadSmellsMenu/sampleGroup"
               tooltip="Lazy Test">
         </action>
		<action
		   class="org.ufba.raide.java.actions.TestSmellsMenu"
		   icon="icons/ladybird.png"
		   id="org.ufba.raide.java.actions.IgnoredTest"
		   label="Ignored Test"
		   menubarPath="BadSmellsMenu/sampleGroup"
		   tooltip="Ignored Test">
		</action>   
        <action
               class="org.ufba.raide.java.actions.TestSmellsMenu"
               icon="icons/ladybird.png"
               id="org.ufba.raide.java.actions.GeneralFixture"
               label="General Fixture"
               menubarPath="BadSmellsMenu/sampleGroup"
               tooltip="General Fixture">
         </action>
         
         <action
               class="org.ufba.raide.java.actions.TestSmellsMenu"
               icon="icons/ladybird.png"
               id="org.ufba.raide.java.actions.ExceptionCatchingThrowing"
               label="Exception Catching Throwing"
               menubarPath="BadSmellsMenu/sampleGroup"
               tooltip="Exception Catching Throwing">
         </action>
         
         <action
               class="org.ufba.raide.java.actions.TestSmellsMenu"
               icon="icons/ladybird.png"
               id="org.ufba.raide.java.actions.EmptyTest"
               label="Empty Test"
               menubarPath="BadSmellsMenu/sampleGroup"
               tooltip="Empty Test">
         </action>
         
         <action
               class="org.ufba.raide.java.actions.TestSmellsMenu"
               icon="icons/ladybird.png"
               id="org.ufba.raide.java.actions.EagerTest"
               label="Eager Test"
               menubarPath="BadSmellsMenu/sampleGroup"
               tooltip="Eager Test">
         </action>
         
         <action
               class="org.ufba.raide.java.actions.TestSmellsMenu"
               icon="icons/ladybird.png"
               id="org.ufba.raide.java.actions.DuplicateAssert"
               label="Duplicate Assert"
               menubarPath="BadSmellsMenu/sampleGroup"
               tooltip="Duplicate Assert">
         </action>
         
         <action
               class="org.ufba.raide.java.actions.TestSmellsMenu"
               icon="icons/ladybird.png"
               id="org.ufba.raide.java.actions.DependentTest"
               label="Dependent Test"
               menubarPath="BadSmellsMenu/sampleGroup"
               tooltip="Dependent Test">
         </action>
          <action
               class="org.ufba.raide.java.actions.TestSmellsMenu"
               icon="icons/ladybird.png"
               id="org.ufba.raide.java.actions.DefaultTest"
               label="Default Test"
               menubarPath="BadSmellsMenu/sampleGroup"
               tooltip="Default Test">
         </action>
         <action
               class="org.ufba.raide.java.actions.TestSmellsMenu"
               icon="icons/ladybird.png"
               id="org.ufba.raide.java.actions.ConstructionInstallation"
               label="Construction Installation"
               menubarPath="BadSmellsMenu/sampleGroup"
               tooltip="Construction Installation">
         </action>
         <action
               class="org.ufba.raide.java.actions.TestSmellsMenu"
               icon="icons/ladybird.png"
               id="org.ufba.raide.java.actions.ConditionalTestLogic"
               label="Conditional Test Logic"
               menubarPath="BadSmellsMenu/sampleGroup"
               tooltip="Conditional Test Logic">
         </action>
         <action
               class="org.ufba.raide.java.actions.TestSmellsMenu"
               icon="icons/ladybird.png"
               id="org.ufba.raide.java.actions.AssertionRoulette"
               label="Assertion Roulette"
               menubarPath="BadSmellsMenu/sampleGroup"
               tooltip="Assertion Roulette">
         </action>
   </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.AssertionRouletteView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.AssertionRoulette"
            name="Assertion Roulette">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.ConditionalTestLogicView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.ConditionalTestLogic"
            name="Conditional Test Logic">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.ConstructionInstallationView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.ConstructionInstallation"
            name="Construction Installation">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.DefaultTestView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.DefaultTest"
            name="Default Test">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.DependentTestView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.DependentTest"
            name="Dependent Test">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.DuplicateAssertView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.DuplicateAssert"
            name="Duplicate Assert">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.EagerTestView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.EagerTest"
            name="Eager Test">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.EmptyTestView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.EmptyTest"
            name="Empty Test">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.ExceptionCatchingThrowingView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.ExceptionCatchingThrowing"
            name="Exception Catching Throwing">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.GeneralFixtureView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.GeneralFixture"
            name="General Fixture">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.IgnoredTestView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.IgnoredTest"
            name="Ignored Test">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.LazyTestView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.LazyTest"
            name="Lazy Test"
            restorable="true">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.MagicNumberTestView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.MagicNumberTest"
            name="Magic Number Test"
            restorable="true">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.MysteryGuestView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.MysteryGuest"
            name="Mystery Guest"
            restorable="true">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.PrintStatementView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.PrintStatement"
            name="Print Statement"
            restorable="true">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.RedundantAssertionView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.RedundantAssertion"
            name="Redundant Assertion"
            restorable="true">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.ResourceOptimismView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.ResourceOptimism"
            name="Resource Optimism"
            restorable="true">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.SensitiveEqualityView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.SensitiveEquality"
            name="Sensitive Equality"
            restorable="true">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.UnknownTestView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.UnknownTest"
            name="Unknown Test"
            restorable="true">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.SleepyTestView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.SleepyTest"
            name="Sleepy Test"
            restorable="true">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.VerboseTestView"
            icon="icons/ladybird.png"
            id="org.ufba.raide.java.views.VerboseTest"
            name="Verbose Test"
            restorable="true">
      </view>
      <view
            category="org.ufba.raide"
            class="org.ufba.raide.java.refactoring.views.AllTestSmellsView"
            icon="icons/csv-file.png"
            id="org.ufba.raide.java.views.AllTestSmells"
            name="Export file CSV"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="gr.uom.java.jdeodorant.views.FeatureEnvy">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="gr.uom.java.jdeodorant.views.TypeChecking"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="gr.uom.java.jdeodorant.views.LongMethod"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="gr.uom.java.jdeodorant.views.GodClass"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="gr.uom.java.jdeodorant.views.DuplicatedCode"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.ufba.raide.java.preferences.PropertyManagerPreferencePage"
            id="gr.uom.java.jdeodorant.preferences.PropertyManagerPreferencePage"
            name="JDeodorant">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.ufba.raide.java.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="gr.uom.java.jdeodorant.extractionAnnotation"
            colorPreferenceKey="extractionAnnotation_color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="extractionAnnotation_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="extractionAnnotation_nextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="extractionAnnotation_previousNavigationTarget"
            label="Extracted Code"
            overviewRulerPreferenceKey="extractionAnnotation_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="extractionAnnotation_nextPrevDropdownToolbar"
            textPreferenceKey="extractionAnnotation_text"
            textPreferenceValue="true"
            textStylePreferenceKey="extractionAnnotation_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="extractionAnnotation_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="gr.uom.java.jdeodorant.duplicationAnnotation"
            colorPreferenceKey="duplicationAnnotation_color"
            colorPreferenceValue="255,160,160"
            contributesToHeader="false"
            highlightPreferenceKey="duplicationAnnotation_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="duplicationAnnotation_nextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="duplicationAnnotation_previousNavigationTarget"
            label="Duplicated Code"
            overviewRulerPreferenceKey="duplicationAnnotation_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="duplicationAnnotation_nextPrevDropdownToolbar"
            textPreferenceKey="duplicationAnnotation_text"
            textPreferenceValue="true"
            textStylePreferenceKey="duplicationAnnotation_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="duplicationAnnotation_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="gr.uom.java.jdeodorant.sliceProfile"
            objectClass="org.eclipse.jdt.core.IMethod">
         <action
               class="org.ufba.raide.java.refactoring.views.SliceProfileAction"
               id="gr.uom.java.jdeodorant.sliceProfileAction"
               label="Slice-based Cohesion Metrics...">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="gr.uom.java.jdeodorant.cloneRefactoring"
            objectClass="org.eclipse.jdt.core.IMethod">
         <action
               class="org.ufba.raide.java.refactoring.views.CloneRefactoringAction"
               id="gr.uom.java.jdeodorant.cloneRefactoringAction"
               label="Refactor Duplicated Code...">
         </action>
      </objectContribution>
   </extension>
</plugin>
